<form class="d-flex testo">
  <input #keyword
         class="form-control mr-sm-2" type="text" placeholder="Recherche par mot cle" aria-label="Search">
  <button (click)="searchMovie(keyword.value)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
</form>

<form class="d-flex testo">
  <input type="search" (ngModelChange)="searchMovies(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2 test" placeholder="Recherche dans la page courrante..." required>
</form>


<ul class="row row-cols-4">
  <div class="d-flex justify-content-center" *ngFor="let movie of movies;">
    <div class="card" style="width: 18rem; margin-top: 2.5rem;">
            <img src="http://image.tmdb.org/t/p/w300{{movie.poster_path}}" (click)="clickMovie(movie.id)" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{movie.original_title}}</h5>
          <p class="card-text">({{movie.vote_average}})</p>
        </div>
      </div>
    </div>
  </div>
</ul>
